<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Kenali Mereka</h3>
</div>

<div class="jumbotron" ng-controller="MainCtrl">
  <h1>Di mana daerah pemilihanmu?</h1>
  <div class="span-8"><input type="text" class="input-large"/></div>
  <select id="address" name="address" placeholder="Lokasi Anda" class="full-width radius select2-offscreen" tabindex="-1">
                    <option value="Aceh Barat - Nanggroe Aceh Darussalam">Aceh Barat - Nanggroe Aceh Darussalam</option>
                <option value="Aceh Barat Daya - Nanggroe Aceh Darussalam">Aceh Barat Daya - Nanggroe Aceh Darussalam</option>
                <option value="Aceh Besar - Nanggroe Aceh Darussalam">Aceh Besar - Nanggroe Aceh Darussalam</option>
                <option value="Aceh Jaya - Nanggroe Aceh Darussalam">Aceh Jaya - Nanggroe Aceh Darussalam</option>
                <option value="Aceh Selatan - Nanggroe Aceh Darussalam">Aceh Selatan - Nanggroe Aceh Darussalam</option>
                <option value="Aceh Singkil - Nanggroe Aceh Darussalam">Aceh Singkil - Nanggroe Aceh Darussalam</option>
                <option value="Aceh Tamiang - Nanggroe Aceh Darussalam">Aceh Tamiang - Nanggroe Aceh Darussalam</option>
                <option value="Aceh Tengah - Nanggroe Aceh Darussalam">Aceh Tengah - Nanggroe Aceh Darussalam</option>
                <option value="Aceh Tenggara - Nanggroe Aceh Darussalam">Aceh Tenggara - Nanggroe Aceh Darussalam</option>
                <option value="Aceh Timur - Nanggroe Aceh Darussalam">Aceh Timur - Nanggroe Aceh Darussalam</option>
                <option value="Aceh Utara - Nanggroe Aceh Darussalam">Aceh Utara - Nanggroe Aceh Darussalam</option>
                <option value="Agam - Sumatera Barat">Agam - Sumatera Barat</option>
                <option value="Alor - Nusa Tenggara Timur">Alor - Nusa Tenggara Timur</option>
                <option value="Ambon (Kota) - Maluku">Ambon (Kota) - Maluku</option>
                <option value="Asahan - Sumatera Utara">Asahan - Sumatera Utara</option>
                <option value="Asmat - Papua">Asmat - Papua</option>
                <option value="Badung - Bali">Badung - Bali</option>
                <option value="Balangan - Kalimantan Selatan">Balangan - Kalimantan Selatan</option>
                <option value="Balikpapan (Kota) - Kalimantan Timur">Balikpapan (Kota) - Kalimantan Timur</option>
                <option value="Banda Aceh (Kota) - Nanggroe Aceh Darussalam">Banda Aceh (Kota) - Nanggroe Aceh Darussalam</option>
                <option value="Bandar Lampung (Kota) - Lampung">Bandar Lampung (Kota) - Lampung</option>
                <option value="Bandung (Kabupaten) - Jawa Barat">Bandung (Kabupaten) - Jawa Barat</option>
                <option value="Bandung (Kota) - Jawa Barat">Bandung (Kota) - Jawa Barat</option>
                <option value="Bandung Barat - Jawa Barat">Bandung Barat - Jawa Barat</option>
                <option value="Banggai - Sulawesi Tengah">Banggai - Sulawesi Tengah</option>
                <option value="Banggai Kepulauan - Sulawesi Tengah">Banggai Kepulauan - Sulawesi Tengah</option>
                <option value="Bangka - Bangka Belitung">Bangka - Bangka Belitung</option>
                <option value="Bangka Barat - Bangka Belitung">Bangka Barat - Bangka Belitung</option>
                <option value="Bangka Selatan - Bangka Belitung">Bangka Selatan - Bangka Belitung</option>
                <option value="Bangka Tengah - Bangka Belitung">Bangka Tengah - Bangka Belitung</option>
                <option value="Bangkalan - Jawa Timur">Bangkalan - Jawa Timur</option>
                <option value="Bangli - Bali">Bangli - Bali</option>
                <option value="Banjar (Kota) - Jawa Barat">Banjar (Kota) - Jawa Barat</option>
                <option value="Banjar - Kalimantan Selatan">Banjar - Kalimantan Selatan</option>
                <option value="Banjarbaru (Kota) - Kalimantan Selatan">Banjarbaru (Kota) - Kalimantan Selatan</option>
                <option value="Banjarmasin (Kota) - Kalimantan Selatan">Banjarmasin (Kota) - Kalimantan Selatan</option>
                <option value="Banjarnegara - Jawa Tengah">Banjarnegara - Jawa Tengah</option>
                <option value="Bantaeng - Sulawesi Selatan">Bantaeng - Sulawesi Selatan</option>
                <option value="Bantul - D.I Yogyakarta">Bantul - D.I Yogyakarta</option>
                <option value="Banyuasin - Sumatera Selatan">Banyuasin - Sumatera Selatan</option>
                <option value="Banyumas - Jawa Tengah">Banyumas - Jawa Tengah</option>
                <option value="Banyuwangi - Jawa Timur">Banyuwangi - Jawa Timur</option>
                <option value="Barito Kuala - Kalimantan Selatan">Barito Kuala - Kalimantan Selatan</option>
                <option value="Barito Selatan - Kalimantan Tengah">Barito Selatan - Kalimantan Tengah</option>
                <option value="Barito Timur - Kalimantan Tengah">Barito Timur - Kalimantan Tengah</option>
                <option value="Barito Utara - Kalimantan Tengah">Barito Utara - Kalimantan Tengah</option>
                <option value="Barru - Sulawesi Selatan">Barru - Sulawesi Selatan</option>
                <option value="Batam (Kota) - Kepulauan Riau">Batam (Kota) - Kepulauan Riau</option>
                <option value="Batang - Jawa Tengah">Batang - Jawa Tengah</option>
                <option value="Batang Hari - Jambi">Batang Hari - Jambi</option>
                <option value="Batu (Kota) - Jawa Timur">Batu (Kota) - Jawa Timur</option>
                <option value="Batu Bara - Sumatera Utara">Batu Bara - Sumatera Utara</option>
                <option value="Bau-Bau (Kota) - Sulawesi Tenggara">Bau-Bau (Kota) - Sulawesi Tenggara</option>
                <option value="Bekasi (Kabupaten) - Jawa Barat">Bekasi (Kabupaten) - Jawa Barat</option>
                <option value="Bekasi (Kota) - Jawa Barat">Bekasi (Kota) - Jawa Barat</option>
                <option value="Belitung - Bangka Belitung">Belitung - Bangka Belitung</option>
                <option value="Belitung Timur - Bangka Belitung">Belitung Timur - Bangka Belitung</option>
                <option value="Belu - Nusa Tenggara Timur">Belu - Nusa Tenggara Timur</option>
                <option value="Bener Meriah - Nanggroe Aceh Darussalam">Bener Meriah - Nanggroe Aceh Darussalam</option>
                <option value="Bengkalis - Riau">Bengkalis - Riau</option>
                <option value="Bengkayang - Kalimantan Barat">Bengkayang - Kalimantan Barat</option>
                <option value="Bengkulu (Kota) - Bengkulu">Bengkulu (Kota) - Bengkulu</option>
                <option value="Bengkulu Selatan - Bengkulu">Bengkulu Selatan - Bengkulu</option>
                <option value="Bengkulu Tengah - Bengkulu">Bengkulu Tengah - Bengkulu</option>
                <option value="Bengkulu Utara - Bengkulu">Bengkulu Utara - Bengkulu</option>
                <option value="Berau - Kalimantan Timur">Berau - Kalimantan Timur</option>
                <option value="Biak Numfor - Papua">Biak Numfor - Papua</option>
                <option value="Bima (Kabupaten) - Nusa Tenggara Barat">Bima (Kabupaten) - Nusa Tenggara Barat</option>
                <option value="Bima (Kota) - Nusa Tenggara Barat">Bima (Kota) - Nusa Tenggara Barat</option>
                <option value="Binjai (Kota) - Sumatera Utara">Binjai (Kota) - Sumatera Utara</option>
                <option value="Bintan - Kepulauan Riau">Bintan - Kepulauan Riau</option>
                <option value="Bireuen - Nanggroe Aceh Darussalam">Bireuen - Nanggroe Aceh Darussalam</option>
                <option value="Bitung (Kota) - Sulawesi Utara">Bitung (Kota) - Sulawesi Utara</option>
                <option value="Blitar (Kabupaten) - Jawa Timur">Blitar (Kabupaten) - Jawa Timur</option>
                <option value="Blitar (Kota) - Jawa Timur">Blitar (Kota) - Jawa Timur</option>
                <option value="Blora - Jawa Tengah">Blora - Jawa Tengah</option>
                <option value="Boalemo - Gorontalo">Boalemo - Gorontalo</option>
                <option value="Bogor (Kabupaten) - Jawa Barat">Bogor (Kabupaten) - Jawa Barat</option>
                <option value="Bogor (Kota) - Jawa Barat">Bogor (Kota) - Jawa Barat</option>
                <option value="Bojonegoro - Jawa Timur">Bojonegoro - Jawa Timur</option>
                <option value="Bolaang Mongondow Selatan - Sulawesi Utara">Bolaang Mongondow Selatan - Sulawesi Utara</option>
                <option value="Bolaang Mongondow Timur - Sulawesi Utara">Bolaang Mongondow Timur - Sulawesi Utara</option>
                <option value="Bolaang Mongondow Utara - Sulawesi Utara">Bolaang Mongondow Utara - Sulawesi Utara</option>
                <option value="Bolaang Mongondow/Bolmong - Sulawesi Utara">Bolaang Mongondow/Bolmong - Sulawesi Utara</option>
                <option value="Bombana - Sulawesi Tenggara">Bombana - Sulawesi Tenggara</option>
                <option value="Bondowoso - Jawa Timur">Bondowoso - Jawa Timur</option>
                <option value="Bone - Sulawesi Selatan">Bone - Sulawesi Selatan</option>
                <option value="Bone Bolango - Gorontalo">Bone Bolango - Gorontalo</option>
                <option value="Bontang (Kota) - Kalimantan Timur">Bontang (Kota) - Kalimantan Timur</option>
                <option value="Boven Digoel - Papua">Boven Digoel - Papua</option>
                <option value="Boyolali - Jawa Tengah">Boyolali - Jawa Tengah</option>
                <option value="Brebes - Jawa Tengah">Brebes - Jawa Tengah</option>
                <option value="Bukittinggi (Kota) - Sumatera Barat">Bukittinggi (Kota) - Sumatera Barat</option>
                <option value="Buleleng - Bali">Buleleng - Bali</option>
                <option value="Bulukumba - Sulawesi Selatan">Bulukumba - Sulawesi Selatan</option>
                <option value="Bulungan/Bulongan - Kalimantan Utara">Bulungan/Bulongan - Kalimantan Utara</option>
                <option value="Bungo - Jambi">Bungo - Jambi</option>
                <option value="Buol - Sulawesi Tengah">Buol - Sulawesi Tengah</option>
                <option value="Buru - Maluku">Buru - Maluku</option>
                <option value="Buru Selatan - Maluku">Buru Selatan - Maluku</option>
                <option value="Buton - Sulawesi Tenggara">Buton - Sulawesi Tenggara</option>
                <option value="Buton Utara - Sulawesi Tenggara">Buton Utara - Sulawesi Tenggara</option>
                <option value="Ciamis - Jawa Barat">Ciamis - Jawa Barat</option>
                <option value="Cianjur - Jawa Barat">Cianjur - Jawa Barat</option>
                <option value="Cilacap - Jawa Tengah">Cilacap - Jawa Tengah</option>
                <option value="Cilegon (Kota) - Banten">Cilegon (Kota) - Banten</option>
                <option value="Cimahi - Jawa Barat">Cimahi - Jawa Barat</option>
                <option value="Cirebon (Kabupaten) - Jawa Barat">Cirebon (Kabupaten) - Jawa Barat</option>
                <option value="Cirebon (Kota) - Jawa Barat">Cirebon (Kota) - Jawa Barat</option>
                <option value="Dairi - Sumatera Utara">Dairi - Sumatera Utara</option>
                <option value="Deiyai - Papua">Deiyai - Papua</option>
                <option value="Deli Serdang - Sumatera Utara">Deli Serdang - Sumatera Utara</option>
                <option value="Demak - Jawa Tengah">Demak - Jawa Tengah</option>
                <option value="Denpasar (Kota) - Bali">Denpasar (Kota) - Bali</option>
                <option value="Depok - Jawa Barat">Depok - Jawa Barat</option>
                <option value="Dharmas Raya - Sumatera Barat">Dharmas Raya - Sumatera Barat</option>
                <option value="Dogiyai - Papua">Dogiyai - Papua</option>
                <option value="Dompu - Nusa Tenggara Barat">Dompu - Nusa Tenggara Barat</option>
                <option value="Donggala - Sulawesi Tengah">Donggala - Sulawesi Tengah</option>
                <option value="Dumai (Kota) - Riau">Dumai (Kota) - Riau</option>
                <option value="Empat Lawang - Sumatera Selatan">Empat Lawang - Sumatera Selatan</option>
                <option value="Ende - Nusa Tenggara Timur">Ende - Nusa Tenggara Timur</option>
                <option value="Enrekang - Sulawesi Selatan">Enrekang - Sulawesi Selatan</option>
                <option value="Fak Fak - Papua Barat">Fak Fak - Papua Barat</option>
                <option value="Flores Timur - Nusa Tenggara Timur">Flores Timur - Nusa Tenggara Timur</option>
                <option value="Garut - Jawa Barat">Garut - Jawa Barat</option>
                <option value="Gayo Lues - Nanggroe Aceh Darussalam">Gayo Lues - Nanggroe Aceh Darussalam</option>
                <option value="Gianyar - Bali">Gianyar - Bali</option>
                <option value="Gorontalo (Kabupaten) - Gorontalo">Gorontalo (Kabupaten) - Gorontalo</option>
                <option value="Gorontalo (Kota) - Gorontalo">Gorontalo (Kota) - Gorontalo</option>
                <option value="Gorontalo Utara - Gorontalo">Gorontalo Utara - Gorontalo</option>
                <option value="Gowa - Sulawesi Selatan">Gowa - Sulawesi Selatan</option>
                <option value="Gresik - Jawa Timur">Gresik - Jawa Timur</option>
                <option value="Grobogan - Jawa Tengah">Grobogan - Jawa Tengah</option>
                <option value="Gunung Kidul - D.I Yogyakarta">Gunung Kidul - D.I Yogyakarta</option>
                <option value="Gunung Mas - Kalimantan Tengah">Gunung Mas - Kalimantan Tengah</option>
                <option value="Gunung Sitoli - Sumatera Utara">Gunung Sitoli - Sumatera Utara</option>
                <option value="Halmahera Barat - Maluku Utara">Halmahera Barat - Maluku Utara</option>
                <option value="Halmahera Selatan - Maluku Utara">Halmahera Selatan - Maluku Utara</option>
                <option value="Halmahera Tengah - Maluku Utara">Halmahera Tengah - Maluku Utara</option>
                <option value="Halmahera Timur - Maluku Utara">Halmahera Timur - Maluku Utara</option>
                <option value="Halmahera Utara - Maluku Utara">Halmahera Utara - Maluku Utara</option>
                <option value="Hulu Sungai Selatan - Kalimantan Selatan">Hulu Sungai Selatan - Kalimantan Selatan</option>
                <option value="Hulu Sungai Tengah - Kalimantan Selatan">Hulu Sungai Tengah - Kalimantan Selatan</option>
                <option value="Hulu Sungai Utara - Kalimantan Selatan">Hulu Sungai Utara - Kalimantan Selatan</option>
                <option value="Humbang Hasundutan - Sumatera Utara">Humbang Hasundutan - Sumatera Utara</option>
                <option value="Indragiri Hilir - Riau">Indragiri Hilir - Riau</option>
                <option value="Indragiri Hulu - Riau">Indragiri Hulu - Riau</option>
                <option value="Indramayu - Jawa Barat">Indramayu - Jawa Barat</option>
                <option value="Intan Jaya - Papua">Intan Jaya - Papua</option>
                <option value="Jakarta Barat - DKI Jakarta">Jakarta Barat - DKI Jakarta</option>
                <option value="Jakarta Pusat - DKI Jakarta">Jakarta Pusat - DKI Jakarta</option>
                <option value="Jakarta Selatan - DKI Jakarta">Jakarta Selatan - DKI Jakarta</option>
                <option value="Jakarta Timur - DKI Jakarta">Jakarta Timur - DKI Jakarta</option>
                <option value="Jakarta Utara - DKI Jakarta">Jakarta Utara - DKI Jakarta</option>
                <option value="Jambi (Kota) - Jambi">Jambi (Kota) - Jambi</option>
                <option value="Jayapura (Kabupaten) - Papua">Jayapura (Kabupaten) - Papua</option>
                <option value="Jayapura (Kota) - Papua">Jayapura (Kota) - Papua</option>
                <option value="Jayawijaya - Papua">Jayawijaya - Papua</option>
                <option value="Jember - Jawa Timur">Jember - Jawa Timur</option>
                <option value="Jembrana - Bali">Jembrana - Bali</option>
                <option value="Jeneponto - Sulawesi Selatan">Jeneponto - Sulawesi Selatan</option>
                <option value="Jepara - Jawa Tengah">Jepara - Jawa Tengah</option>
                <option value="Jombang - Jawa Timur">Jombang - Jawa Timur</option>
                <option value="Kaimana - Papua Barat">Kaimana - Papua Barat</option>
                <option value="Kampar - Riau">Kampar - Riau</option>
                <option value="Kapuas - Kalimantan Tengah">Kapuas - Kalimantan Tengah</option>
                <option value="Kapuas Hulu - Kalimantan Barat">Kapuas Hulu - Kalimantan Barat</option>
                <option value="Karanganyar - Jawa Tengah">Karanganyar - Jawa Tengah</option>
                <option value="Karangasem - Bali">Karangasem - Bali</option>
                <option value="Karawang - Jawa Barat">Karawang - Jawa Barat</option>
                <option value="Karimun - Kepulauan Riau">Karimun - Kepulauan Riau</option>
                <option value="Karo - Sumatera Utara">Karo - Sumatera Utara</option>
                <option value="Katingan - Kalimantan Tengah">Katingan - Kalimantan Tengah</option>
                <option value="Kaur - Bengkulu">Kaur - Bengkulu</option>
                <option value="Kayong Utara - Kalimantan Barat">Kayong Utara - Kalimantan Barat</option>
                <option value="Kebumen - Jawa Tengah">Kebumen - Jawa Tengah</option>
                <option value="Kediri (Kabupaten) - Jawa Timur">Kediri (Kabupaten) - Jawa Timur</option>
                <option value="Kediri (Kota) - Jawa Timur">Kediri (Kota) - Jawa Timur</option>
                <option value="Keerom - Papua">Keerom - Papua</option>
                <option value="Kendal - Jawa Tengah">Kendal - Jawa Tengah</option>
                <option value="Kendari (Kota) - Sulawesi Tenggara">Kendari (Kota) - Sulawesi Tenggara</option>
                <option value="Kepahiang - Bengkulu">Kepahiang - Bengkulu</option>
                <option value="Kepulauan Anambas - Kepulauan Riau">Kepulauan Anambas - Kepulauan Riau</option>
                <option value="Kepulauan Aru - Maluku">Kepulauan Aru - Maluku</option>
                <option value="Kepulauan Mentawai - Sumatera Barat">Kepulauan Mentawai - Sumatera Barat</option>
                <option value="Kepulauan Meranti - Riau">Kepulauan Meranti - Riau</option>
                <option value="Kepulauan Sangihe - Sulawesi Utara">Kepulauan Sangihe - Sulawesi Utara</option>
                <option value="Kepulauan Seribu - DKI Jakarta">Kepulauan Seribu - DKI Jakarta</option>
                <option value="Kepulauan Siau Tagulandang Biaro/Sitaro - Sulawesi Utara">Kepulauan Siau Tagulandang Biaro/Sitaro - Sulawesi Utara</option>
                <option value="Kepulauan Sula - Maluku Utara">Kepulauan Sula - Maluku Utara</option>
                <option value="Kepulauan Talaud - Sulawesi Utara">Kepulauan Talaud - Sulawesi Utara</option>
                <option value="Kepulauan Yapen - Papua">Kepulauan Yapen - Papua</option>
                <option value="Kerinci - Jambi">Kerinci - Jambi</option>
                <option value="Ketapang - Kalimantan Barat">Ketapang - Kalimantan Barat</option>
                <option value="Klaten - Jawa Tengah">Klaten - Jawa Tengah</option>
                <option value="Klungkung - Bali">Klungkung - Bali</option>
                <option value="Kolaka - Sulawesi Tenggara">Kolaka - Sulawesi Tenggara</option>
                <option value="Kolaka Timur - Sulawesi Tenggara">Kolaka Timur - Sulawesi Tenggara</option>
                <option value="Kolaka Utara - Sulawesi Tenggara">Kolaka Utara - Sulawesi Tenggara</option>
                <option value="Konawe - Sulawesi Tenggara">Konawe - Sulawesi Tenggara</option>
                <option value="Konawe Selatan - Sulawesi Tenggara">Konawe Selatan - Sulawesi Tenggara</option>
                <option value="Konawe Utara - Sulawesi Tenggara">Konawe Utara - Sulawesi Tenggara</option>
                <option value="Kotabaru - Kalimantan Selatan">Kotabaru - Kalimantan Selatan</option>
                <option value="Kotamobagu (Kota) - Sulawesi Utara">Kotamobagu (Kota) - Sulawesi Utara</option>
                <option value="Kotawaringin Barat - Kalimantan Tengah">Kotawaringin Barat - Kalimantan Tengah</option>
                <option value="Kotawaringin Timur - Kalimantan Tengah">Kotawaringin Timur - Kalimantan Tengah</option>
                <option value="Kuantan Singingi - Riau">Kuantan Singingi - Riau</option>
                <option value="Kubu Raya - Kalimantan Barat">Kubu Raya - Kalimantan Barat</option>
                <option value="Kudus - Jawa Tengah">Kudus - Jawa Tengah</option>
                <option value="Kulon Progo - D.I Yogyakarta">Kulon Progo - D.I Yogyakarta</option>
                <option value="Kuningan - Jawa Barat">Kuningan - Jawa Barat</option>
                <option value="Kupang (Kabupaten) - Nusa Tenggara Timur">Kupang (Kabupaten) - Nusa Tenggara Timur</option>
                <option value="Kupang (Kota) - Nusa Tenggara Timur">Kupang (Kota) - Nusa Tenggara Timur</option>
                <option value="Kutai Barat - Kalimantan Timur">Kutai Barat - Kalimantan Timur</option>
                <option value="Kutai Kartanegara - Kalimantan Timur">Kutai Kartanegara - Kalimantan Timur</option>
                <option value="Kutai Timur - Kalimantan Timur">Kutai Timur - Kalimantan Timur</option>
                <option value="Labuhan Batu - Sumatera Utara">Labuhan Batu - Sumatera Utara</option>
                <option value="Labuhan Batu Selatan - Sumatera Utara">Labuhan Batu Selatan - Sumatera Utara</option>
                <option value="Labuhan Batu Utara - Sumatera Utara">Labuhan Batu Utara - Sumatera Utara</option>
                <option value="Lahat - Sumatera Selatan">Lahat - Sumatera Selatan</option>
                <option value="Lamandau - Kalimantan Tengah">Lamandau - Kalimantan Tengah</option>
                <option value="Lamongan - Jawa Timur">Lamongan - Jawa Timur</option>
                <option value="Lampung Barat - Lampung">Lampung Barat - Lampung</option>
                <option value="Lampung Selatan - Lampung">Lampung Selatan - Lampung</option>
                <option value="Lampung Tengah - Lampung">Lampung Tengah - Lampung</option>
                <option value="Lampung Timur - Lampung">Lampung Timur - Lampung</option>
                <option value="Lampung Utara - Lampung">Lampung Utara - Lampung</option>
                <option value="Landak - Kalimantan Barat">Landak - Kalimantan Barat</option>
                <option value="Langkat - Sumatera Utara">Langkat - Sumatera Utara</option>
                <option value="Langsa (Kota) - Nanggroe Aceh Darussalam">Langsa (Kota) - Nanggroe Aceh Darussalam</option>
                <option value="Lanny Jaya - Papua">Lanny Jaya - Papua</option>
                <option value="Lebak - Banten">Lebak - Banten</option>
                <option value="Lebong - Bengkulu">Lebong - Bengkulu</option>
                <option value="Lembata - Nusa Tenggara Timur">Lembata - Nusa Tenggara Timur</option>
                <option value="Lhokseumawe (Kota) - Nanggroe Aceh Darussalam">Lhokseumawe (Kota) - Nanggroe Aceh Darussalam</option>
                <option value="Lima Puluh Koto/Kota - Sumatera Barat">Lima Puluh Koto/Kota - Sumatera Barat</option>
                <option value="Lingga - Kepulauan Riau">Lingga - Kepulauan Riau</option>
                <option value="Lombok Barat - Nusa Tenggara Barat">Lombok Barat - Nusa Tenggara Barat</option>
                <option value="Lombok Tengah - Nusa Tenggara Barat">Lombok Tengah - Nusa Tenggara Barat</option>
                <option value="Lombok Timur - Nusa Tenggara Barat">Lombok Timur - Nusa Tenggara Barat</option>
                <option value="Lombok Utara - Nusa Tenggara Barat">Lombok Utara - Nusa Tenggara Barat</option>
                <option value="Lubuk Linggau (Kota) - Sumatera Selatan">Lubuk Linggau (Kota) - Sumatera Selatan</option>
                <option value="Lumajang - Jawa Timur">Lumajang - Jawa Timur</option>
                <option value="Luwu - Sulawesi Selatan">Luwu - Sulawesi Selatan</option>
                <option value="Luwu Timur - Sulawesi Selatan">Luwu Timur - Sulawesi Selatan</option>
                <option value="Luwu Utara - Sulawesi Selatan">Luwu Utara - Sulawesi Selatan</option>
                <option value="Madiun (Kabupaten) - Jawa Timur">Madiun (Kabupaten) - Jawa Timur</option>
                <option value="Madiun (Kota) - Jawa Timur">Madiun (Kota) - Jawa Timur</option>
                <option value="Magelang (Kabupaten) - Jawa Tengah">Magelang (Kabupaten) - Jawa Tengah</option>
                <option value="Magelang (Kota) - Jawa Tengah">Magelang (Kota) - Jawa Tengah</option>
                <option value="Magetan - Jawa Timur">Magetan - Jawa Timur</option>
                <option value="Mahakam Ulu - Kalimantan Timur">Mahakam Ulu - Kalimantan Timur</option>
                <option value="Majalengka - Jawa Barat">Majalengka - Jawa Barat</option>
                <option value="Majene - Sulawesi Barat">Majene - Sulawesi Barat</option>
                <option value="Makassar (Kota) - Sulawesi Selatan">Makassar (Kota) - Sulawesi Selatan</option>
                <option value="Malang (Kabupaten) - Jawa Timur">Malang (Kabupaten) - Jawa Timur</option>
                <option value="Malang (Kota) - Jawa Timur">Malang (Kota) - Jawa Timur</option>
                <option value="Malinau - Kalimantan Utara">Malinau - Kalimantan Utara</option>
                <option value="Maluku Barat Daya - Maluku">Maluku Barat Daya - Maluku</option>
                <option value="Maluku Tengah - Maluku">Maluku Tengah - Maluku</option>
                <option value="Maluku Tenggara - Maluku">Maluku Tenggara - Maluku</option>
                <option value="Maluku Tenggara Barat - Maluku">Maluku Tenggara Barat - Maluku</option>
                <option value="Mamasa - Sulawesi Barat">Mamasa - Sulawesi Barat</option>
                <option value="Mamberamo Raya - Papua">Mamberamo Raya - Papua</option>
                <option value="Mamberamo Tengah - Papua">Mamberamo Tengah - Papua</option>
                <option value="Mamuju - Sulawesi Barat">Mamuju - Sulawesi Barat</option>
                <option value="Mamuju Tengah - Sulawesi Barat">Mamuju Tengah - Sulawesi Barat</option>
                <option value="Mamuju Utara - Sulawesi Barat">Mamuju Utara - Sulawesi Barat</option>
                <option value="Manado (Kota) - Sulawesi Utara">Manado (Kota) - Sulawesi Utara</option>
                <option value="Mandailing Natal - Sumatera Utara">Mandailing Natal - Sumatera Utara</option>
                <option value="Manggarai - Nusa Tenggara Timur">Manggarai - Nusa Tenggara Timur</option>
                <option value="Manggarai Barat - Nusa Tenggara Timur">Manggarai Barat - Nusa Tenggara Timur</option>
                <option value="Manggarai Timur - Nusa Tenggara Timur">Manggarai Timur - Nusa Tenggara Timur</option>
                <option value="Manokwari - Papua Barat">Manokwari - Papua Barat</option>
                <option value="Manokwari Selatan - Papua Barat">Manokwari Selatan - Papua Barat</option>
                <option value="Mappi - Papua">Mappi - Papua</option>
                <option value="Maros - Sulawesi Selatan">Maros - Sulawesi Selatan</option>
                <option value="Mataram (Kota) - Nusa Tenggara Barat">Mataram (Kota) - Nusa Tenggara Barat</option>
                <option value="Maybrat - Papua Barat">Maybrat - Papua Barat</option>
                <option value="Medan (Kota) - Sumatera Utara">Medan (Kota) - Sumatera Utara</option>
                <option value="Melawi - Kalimantan Barat">Melawi - Kalimantan Barat</option>
                <option value="Merangin - Jambi">Merangin - Jambi</option>
                <option value="Merauke - Papua">Merauke - Papua</option>
                <option value="Mesuji - Lampung">Mesuji - Lampung</option>
                <option value="Metro (Kota) - Lampung">Metro (Kota) - Lampung</option>
                <option value="Mimika - Papua">Mimika - Papua</option>
                <option value="Minahasa - Sulawesi Utara">Minahasa - Sulawesi Utara</option>
                <option value="Minahasa Selatan - Sulawesi Utara">Minahasa Selatan - Sulawesi Utara</option>
                <option value="Minahasa Tenggara - Sulawesi Utara">Minahasa Tenggara - Sulawesi Utara</option>
                <option value="Minahasa Utara - Sulawesi Utara">Minahasa Utara - Sulawesi Utara</option>
                <option value="Mojokerto (Kabupaten) - Jawa Timur">Mojokerto (Kabupaten) - Jawa Timur</option>
                <option value="Mojokerto (Kota) - Jawa Timur">Mojokerto (Kota) - Jawa Timur</option>
                <option value="Morowali - Sulawesi Tengah">Morowali - Sulawesi Tengah</option>
                <option value="Muara Enim - Sumatera Selatan">Muara Enim - Sumatera Selatan</option>
                <option value="Muaro Jambi - Jambi">Muaro Jambi - Jambi</option>
                <option value="Muko Muko - Bengkulu">Muko Muko - Bengkulu</option>
                <option value="Muna - Sulawesi Tenggara">Muna - Sulawesi Tenggara</option>
                <option value="Murung Raya - Kalimantan Tengah">Murung Raya - Kalimantan Tengah</option>
                <option value="Musi Banyuasin - Sumatera Selatan">Musi Banyuasin - Sumatera Selatan</option>
                <option value="Musi Rawas - Sumatera Selatan">Musi Rawas - Sumatera Selatan</option>
                <option value="Nabire - Papua">Nabire - Papua</option>
                <option value="Nagan Raya - Nanggroe Aceh Darussalam">Nagan Raya - Nanggroe Aceh Darussalam</option>
                <option value="Nagekeo - Nusa Tenggara Timur">Nagekeo - Nusa Tenggara Timur</option>
                <option value="Natuna - Kepulauan Riau">Natuna - Kepulauan Riau</option>
                <option value="Nduga - Papua">Nduga - Papua</option>
                <option value="Ngada - Nusa Tenggara Timur">Ngada - Nusa Tenggara Timur</option>
                <option value="Nganjuk - Jawa Timur">Nganjuk - Jawa Timur</option>
                <option value="Ngawi - Jawa Timur">Ngawi - Jawa Timur</option>
                <option value="Nias - Sumatera Utara">Nias - Sumatera Utara</option>
                <option value="Nias Barat - Sumatera Utara">Nias Barat - Sumatera Utara</option>
                <option value="Nias Selatan - Sumatera Utara">Nias Selatan - Sumatera Utara</option>
                <option value="Nias Utara - Sumatera Utara">Nias Utara - Sumatera Utara</option>
                <option value="Nunukan - Kalimantan Utara">Nunukan - Kalimantan Utara</option>
                <option value="Ogan Ilir - Sumatera Selatan">Ogan Ilir - Sumatera Selatan</option>
                <option value="Ogan Komering Ilir - Sumatera Selatan">Ogan Komering Ilir - Sumatera Selatan</option>
                <option value="Ogan Komering Ulu - Sumatera Selatan">Ogan Komering Ulu - Sumatera Selatan</option>
                <option value="Ogan Komering Ulu Selatan - Sumatera Selatan">Ogan Komering Ulu Selatan - Sumatera Selatan</option>
                <option value="Ogan Komering Ulu Timur - Sumatera Selatan">Ogan Komering Ulu Timur - Sumatera Selatan</option>
                <option value="Pacitan - Jawa Timur">Pacitan - Jawa Timur</option>
                <option value="Padang (Kota) - Sumatera Barat">Padang (Kota) - Sumatera Barat</option>
                <option value="Padang Lawas - Sumatera Utara">Padang Lawas - Sumatera Utara</option>
                <option value="Padang Lawas Utara - Sumatera Utara">Padang Lawas Utara - Sumatera Utara</option>
                <option value="Padang Panjang (Kota) - Sumatera Barat">Padang Panjang (Kota) - Sumatera Barat</option>
                <option value="Padang Pariaman - Sumatera Barat">Padang Pariaman - Sumatera Barat</option>
                <option value="Padang Sidempuan (Kota) - Sumatera Utara">Padang Sidempuan (Kota) - Sumatera Utara</option>
                <option value="Pagar Alam (Kota) - Sumatera Selatan">Pagar Alam (Kota) - Sumatera Selatan</option>
                <option value="Pak pak Bharat - Sumatera Utara">Pak pak Bharat - Sumatera Utara</option>
                <option value="Palangka Raya (Kota) - Kalimantan Tengah">Palangka Raya (Kota) - Kalimantan Tengah</option>
                <option value="Palembang (Kota) - Sumatera Selatan">Palembang (Kota) - Sumatera Selatan</option>
                <option value="Palopo (Kota) - Sulawesi Selatan">Palopo (Kota) - Sulawesi Selatan</option>
                <option value="Palu (Kota) - Sulawesi Tengah">Palu (Kota) - Sulawesi Tengah</option>
                <option value="Pamekasan - Jawa Timur">Pamekasan - Jawa Timur</option>
                <option value="Pandeglang - Banten">Pandeglang - Banten</option>
                <option value="Pangandaran - Jawa Barat">Pangandaran - Jawa Barat</option>
                <option value="Pangkajene Kepulauan - Sulawesi Selatan">Pangkajene Kepulauan - Sulawesi Selatan</option>
                <option value="Pangkal Pinang (Kota) - Bangka Belitung">Pangkal Pinang (Kota) - Bangka Belitung</option>
                <option value="Paniai - Papua">Paniai - Papua</option>
                <option value="Parepare (Kota) - Sulawesi Selatan">Parepare (Kota) - Sulawesi Selatan</option>
                <option value="Pariaman (Kota) - Sumatera Barat">Pariaman (Kota) - Sumatera Barat</option>
                <option value="Parigi Moutong - Sulawesi Tengah">Parigi Moutong - Sulawesi Tengah</option>
                <option value="Pasaman - Sumatera Barat">Pasaman - Sumatera Barat</option>
                <option value="Pasaman Barat - Sumatera Barat">Pasaman Barat - Sumatera Barat</option>
                <option value="Paser - Kalimantan Timur">Paser - Kalimantan Timur</option>
                <option value="Pasuruan (Kabupaten) - Jawa Timur">Pasuruan (Kabupaten) - Jawa Timur</option>
                <option value="Pasuruan (Kota) - Jawa Timur">Pasuruan (Kota) - Jawa Timur</option>
                <option value="Pati - Jawa Tengah">Pati - Jawa Tengah</option>
                <option value="Payakumbuh (Kota) - Sumatera Barat">Payakumbuh (Kota) - Sumatera Barat</option>
                <option value="Pegunungan Arfak - Papua Barat">Pegunungan Arfak - Papua Barat</option>
                <option value="Pegunungan Bintang - Papua">Pegunungan Bintang - Papua</option>
                <option value="Pekalongan (Kabupaten) - Jawa Tengah">Pekalongan (Kabupaten) - Jawa Tengah</option>
                <option value="Pekalongan (Kota) - Jawa Tengah">Pekalongan (Kota) - Jawa Tengah</option>
                <option value="Pekanbaru (Kota) - Riau">Pekanbaru (Kota) - Riau</option>
                <option value="Pelalawan - Riau">Pelalawan - Riau</option>
                <option value="Pemalang - Jawa Tengah">Pemalang - Jawa Tengah</option>
                <option value="Pematang Siantar (Kota) - Sumatera Utara">Pematang Siantar (Kota) - Sumatera Utara</option>
                <option value="Penajam Paser Utara - Kalimantan Timur">Penajam Paser Utara - Kalimantan Timur</option>
                <option value="Penukal Abab Lematang Ilir - Sumatera Selatan">Penukal Abab Lematang Ilir - Sumatera Selatan</option>
                <option value="Pesawaran - Lampung">Pesawaran - Lampung</option>
                <option value="Pesisir Barat - Lampung">Pesisir Barat - Lampung</option>
                <option value="Pesisir Selatan - Sumatera Barat">Pesisir Selatan - Sumatera Barat</option>
                <option value="Pidie - Nanggroe Aceh Darussalam">Pidie - Nanggroe Aceh Darussalam</option>
                <option value="Pidie Jaya - Nanggroe Aceh Darussalam">Pidie Jaya - Nanggroe Aceh Darussalam</option>
                <option value="Pinrang - Sulawesi Selatan">Pinrang - Sulawesi Selatan</option>
                <option value="Pohuwato - Gorontalo">Pohuwato - Gorontalo</option>
                <option value="Polewali Mandar - Sulawesi Barat">Polewali Mandar - Sulawesi Barat</option>
                <option value="Ponorogo - Jawa Timur">Ponorogo - Jawa Timur</option>
                <option value="Pontianak (Kabupaten) - Kalimantan Barat">Pontianak (Kabupaten) - Kalimantan Barat</option>
                <option value="Pontianak (Kota) - Kalimantan Barat">Pontianak (Kota) - Kalimantan Barat</option>
                <option value="Poso - Sulawesi Tengah">Poso - Sulawesi Tengah</option>
                <option value="Prabumulih (Kota) - Sumatera Selatan">Prabumulih (Kota) - Sumatera Selatan</option>
                <option value="Pringsewu - Lampung">Pringsewu - Lampung</option>
                <option value="Probolinggo (Kabupaten) - Jawa Timur">Probolinggo (Kabupaten) - Jawa Timur</option>
                <option value="Probolinggo (Kota) - Jawa Timur">Probolinggo (Kota) - Jawa Timur</option>
                <option value="Pulang Pisau - Kalimantan Tengah">Pulang Pisau - Kalimantan Tengah</option>
                <option value="Pulau Morotai - Maluku Utara">Pulau Morotai - Maluku Utara</option>
                <option value="Puncak - Papua">Puncak - Papua</option>
                <option value="Puncak Jaya - Papua">Puncak Jaya - Papua</option>
                <option value="Purbalingga - Jawa Tengah">Purbalingga - Jawa Tengah</option>
                <option value="Purwakarta - Jawa Barat">Purwakarta - Jawa Barat</option>
                <option value="Purworejo - Jawa Tengah">Purworejo - Jawa Tengah</option>
                <option value="Raja Ampat - Papua Barat">Raja Ampat - Papua Barat</option>
                <option value="Rejang Lebong - Bengkulu">Rejang Lebong - Bengkulu</option>
                <option value="Rembang - Jawa Tengah">Rembang - Jawa Tengah</option>
                <option value="Rokan Hilir - Riau">Rokan Hilir - Riau</option>
                <option value="Rokan Hulu - Riau">Rokan Hulu - Riau</option>
                <option value="Rote Ndao - Nusa Tenggara Timur">Rote Ndao - Nusa Tenggara Timur</option>
                <option value="Sabang (Kota) - Nanggroe Aceh Darussalam">Sabang (Kota) - Nanggroe Aceh Darussalam</option>
                <option value="Sabu Raijua - Nusa Tenggara Timur">Sabu Raijua - Nusa Tenggara Timur</option>
                <option value="Salatiga (Kota) - Jawa Tengah">Salatiga (Kota) - Jawa Tengah</option>
                <option value="Samarinda (Kota) - Kalimantan Timur">Samarinda (Kota) - Kalimantan Timur</option>
                <option value="Sambas - Kalimantan Barat">Sambas - Kalimantan Barat</option>
                <option value="Samosir - Sumatera Utara">Samosir - Sumatera Utara</option>
                <option value="Sampang - Jawa Timur">Sampang - Jawa Timur</option>
                <option value="Sanggau - Kalimantan Barat">Sanggau - Kalimantan Barat</option>
                <option value="Sarmi - Papua">Sarmi - Papua</option>
                <option value="Sarolangun - Jambi">Sarolangun - Jambi</option>
                <option value="Sawah Lunto (Kota) - Sumatera Barat">Sawah Lunto (Kota) - Sumatera Barat</option>
                <option value="Sekadau - Kalimantan Barat">Sekadau - Kalimantan Barat</option>
                <option value="Selayar/Kepulauan Selayar - Sulawesi Selatan">Selayar/Kepulauan Selayar - Sulawesi Selatan</option>
                <option value="Seluma - Bengkulu">Seluma - Bengkulu</option>
                <option value="Semarang (Kabupaten) - Jawa Tengah">Semarang (Kabupaten) - Jawa Tengah</option>
                <option value="Semarang (Kota) - Jawa Tengah">Semarang (Kota) - Jawa Tengah</option>
                <option value="Seram Bagian Barat - Maluku">Seram Bagian Barat - Maluku</option>
                <option value="Seram Bagian Timur - Maluku">Seram Bagian Timur - Maluku</option>
                <option value="Serang (Kabupaten) - Banten">Serang (Kabupaten) - Banten</option>
                <option value="Serang (Kota) - Banten">Serang (Kota) - Banten</option>
                <option value="Serdang Bedagai - Sumatera Utara">Serdang Bedagai - Sumatera Utara</option>
                <option value="Seruyan - Kalimantan Tengah">Seruyan - Kalimantan Tengah</option>
                <option value="Siak - Riau">Siak - Riau</option>
                <option value="Sibolga (Kota) - Sumatera Utara">Sibolga (Kota) - Sumatera Utara</option>
                <option value="Sidenreng Rappang / Rapang - Sulawesi Selatan">Sidenreng Rappang / Rapang - Sulawesi Selatan</option>
                <option value="Sidoarjo - Jawa Timur">Sidoarjo - Jawa Timur</option>
                <option value="Sigi - Sulawesi Tengah">Sigi - Sulawesi Tengah</option>
                <option value="Sijunjung/Sawah Lunto Sijunjung - Sumatera Barat">Sijunjung/Sawah Lunto Sijunjung - Sumatera Barat</option>
                <option value="Sikka - Nusa Tenggara Timur">Sikka - Nusa Tenggara Timur</option>
                <option value="Simalungun - Sumatera Utara">Simalungun - Sumatera Utara</option>
                <option value="Simeulue - Nanggroe Aceh Darussalam">Simeulue - Nanggroe Aceh Darussalam</option>
                <option value="Singkawang (Kota) - Kalimantan Barat">Singkawang (Kota) - Kalimantan Barat</option>
                <option value="Sinjai - Sulawesi Selatan">Sinjai - Sulawesi Selatan</option>
                <option value="Sintang - Kalimantan Barat">Sintang - Kalimantan Barat</option>
                <option value="Situbondo - Jawa Timur">Situbondo - Jawa Timur</option>
                <option value="Sleman - D.I Yogyakarta">Sleman - D.I Yogyakarta</option>
                <option value="Solok (Kabupaten) - Sumatera Barat">Solok (Kabupaten) - Sumatera Barat</option>
                <option value="Solok (Kota) - Sumatera Barat">Solok (Kota) - Sumatera Barat</option>
                <option value="Solok Selatan - Sumatera Barat">Solok Selatan - Sumatera Barat</option>
                <option value="Soppeng - Sulawesi Selatan">Soppeng - Sulawesi Selatan</option>
                <option value="Sorong (Kabupaten) - Papua Barat">Sorong (Kabupaten) - Papua Barat</option>
                <option value="Sorong (Kota) - Papua Barat">Sorong (Kota) - Papua Barat</option>
                <option value="Sorong Selatan - Papua Barat">Sorong Selatan - Papua Barat</option>
                <option value="Sragen - Jawa Tengah">Sragen - Jawa Tengah</option>
                <option value="Subang - Jawa Barat">Subang - Jawa Barat</option>
                <option value="Subulussalam (Kota) - Nanggroe Aceh Darussalam">Subulussalam (Kota) - Nanggroe Aceh Darussalam</option>
                <option value="Sukabumi (Kabupaten) - Jawa Barat">Sukabumi (Kabupaten) - Jawa Barat</option>
                <option value="Sukabumi (Kota) - Jawa Barat">Sukabumi (Kota) - Jawa Barat</option>
                <option value="Sukamara - Kalimantan Tengah">Sukamara - Kalimantan Tengah</option>
                <option value="Sukoharjo - Jawa Tengah">Sukoharjo - Jawa Tengah</option>
                <option value="Sumba Barat - Nusa Tenggara Timur">Sumba Barat - Nusa Tenggara Timur</option>
                <option value="Sumba Barat Daya - Nusa Tenggara Timur">Sumba Barat Daya - Nusa Tenggara Timur</option>
                <option value="Sumba Tengah - Nusa Tenggara Timur">Sumba Tengah - Nusa Tenggara Timur</option>
                <option value="Sumba Timur - Nusa Tenggara Timur">Sumba Timur - Nusa Tenggara Timur</option>
                <option value="Sumbawa - Nusa Tenggara Barat">Sumbawa - Nusa Tenggara Barat</option>
                <option value="Sumbawa Barat - Nusa Tenggara Barat">Sumbawa Barat - Nusa Tenggara Barat</option>
                <option value="Sumedang - Jawa Barat">Sumedang - Jawa Barat</option>
                <option value="Sumenep - Jawa Timur">Sumenep - Jawa Timur</option>
                <option value="Sungaipenuh - Jambi">Sungaipenuh - Jambi</option>
                <option value="Supiori - Papua">Supiori - Papua</option>
                <option value="Surabaya (Kota) - Jawa Timur">Surabaya (Kota) - Jawa Timur</option>
                <option value="Surakarta/Solo - Jawa Tengah">Surakarta/Solo - Jawa Tengah</option>
                <option value="Tabalong - Kalimantan Selatan">Tabalong - Kalimantan Selatan</option>
                <option value="Tabanan - Bali">Tabanan - Bali</option>
                <option value="Takalar - Sulawesi Selatan">Takalar - Sulawesi Selatan</option>
                <option value="Tambrauw - Papua Barat">Tambrauw - Papua Barat</option>
                <option value="Tana Tidung - Kalimantan Utara">Tana Tidung - Kalimantan Utara</option>
                <option value="Tana Toraja - Sulawesi Selatan">Tana Toraja - Sulawesi Selatan</option>
                <option value="Tanah Bumbu - Kalimantan Selatan">Tanah Bumbu - Kalimantan Selatan</option>
                <option value="Tanah Datar - Sumatera Barat">Tanah Datar - Sumatera Barat</option>
                <option value="Tanah Laut - Kalimantan Selatan">Tanah Laut - Kalimantan Selatan</option>
                <option value="Tangerang (Kabupaten) - Banten">Tangerang (Kabupaten) - Banten</option>
                <option value="Tangerang (Kota) - Banten">Tangerang (Kota) - Banten</option>
                <option value="Tangerang Selatan - Banten">Tangerang Selatan - Banten</option>
                <option value="Tanggamus - Lampung">Tanggamus - Lampung</option>
                <option value="Tanjung Balai (Kota) - Sumatera Utara">Tanjung Balai (Kota) - Sumatera Utara</option>
                <option value="Tanjung Jabung Barat - Jambi">Tanjung Jabung Barat - Jambi</option>
                <option value="Tanjung Jabung Timur - Jambi">Tanjung Jabung Timur - Jambi</option>
                <option value="Tanjung Pinang (Kota) - Kepulauan Riau">Tanjung Pinang (Kota) - Kepulauan Riau</option>
                <option value="Tapanuli Selatan - Sumatera Utara">Tapanuli Selatan - Sumatera Utara</option>
                <option value="Tapanuli Tengah - Sumatera Utara">Tapanuli Tengah - Sumatera Utara</option>
                <option value="Tapanuli Utara - Sumatera Utara">Tapanuli Utara - Sumatera Utara</option>
                <option value="Tapauli Tengah - Sumatera Utara">Tapauli Tengah - Sumatera Utara</option>
                <option value="Tapin - Kalimantan Selatan">Tapin - Kalimantan Selatan</option>
                <option value="Tarakan (Kota) - Kalimantan Utara">Tarakan (Kota) - Kalimantan Utara</option>
                <option value="Tasikmalaya (Kabupaten) - Jawa Barat">Tasikmalaya (Kabupaten) - Jawa Barat</option>
                <option value="Tasikmalaya (Kota) - Jawa Barat">Tasikmalaya (Kota) - Jawa Barat</option>
                <option value="Tebing Tinggi (Kota) - Sumatera Utara">Tebing Tinggi (Kota) - Sumatera Utara</option>
                <option value="Tebo - Jambi">Tebo - Jambi</option>
                <option value="Tegal (Kabupaten) - Jawa Tengah">Tegal (Kabupaten) - Jawa Tengah</option>
                <option value="Tegal (Kota) - Jawa Tengah">Tegal (Kota) - Jawa Tengah</option>
                <option value="Teluk Bintuni - Papua Barat">Teluk Bintuni - Papua Barat</option>
                <option value="Teluk Wondama - Papua Barat">Teluk Wondama - Papua Barat</option>
                <option value="Temanggung - Jawa Tengah">Temanggung - Jawa Tengah</option>
                <option value="Ternate (Kota) - Maluku Utara">Ternate (Kota) - Maluku Utara</option>
                <option value="Tidore Kepulauan (Kota) - Maluku Utara">Tidore Kepulauan (Kota) - Maluku Utara</option>
                <option value="Timor Tengah Selatan - Nusa Tenggara Timur">Timor Tengah Selatan - Nusa Tenggara Timur</option>
                <option value="Timor Tengah Utara - Nusa Tenggara Timur">Timor Tengah Utara - Nusa Tenggara Timur</option>
                <option value="Toba Samosir - Sumatera Utara">Toba Samosir - Sumatera Utara</option>
                <option value="Tojo Una-Una - Sulawesi Tengah">Tojo Una-Una - Sulawesi Tengah</option>
                <option value="Toli-Toli - Sulawesi Tengah">Toli-Toli - Sulawesi Tengah</option>
                <option value="Tolikara - Papua">Tolikara - Papua</option>
                <option value="Tomohon (Kota) - Sulawesi Utara">Tomohon (Kota) - Sulawesi Utara</option>
                <option value="Toraja Utara - Sulawesi Selatan">Toraja Utara - Sulawesi Selatan</option>
                <option value="Trenggalek - Jawa Timur">Trenggalek - Jawa Timur</option>
                <option value="Tual (Kota) - Maluku">Tual (Kota) - Maluku</option>
                <option value="Tuban - Jawa Timur">Tuban - Jawa Timur</option>
                <option value="Tulang Bawang - Lampung">Tulang Bawang - Lampung</option>
                <option value="Tulang Bawang Barat - Lampung">Tulang Bawang Barat - Lampung</option>
                <option value="Tulungagung - Jawa Timur">Tulungagung - Jawa Timur</option>
                <option value="Wajo - Sulawesi Selatan">Wajo - Sulawesi Selatan</option>
                <option value="Wakatobi - Sulawesi Tenggara">Wakatobi - Sulawesi Tenggara</option>
                <option value="Waropen - Papua">Waropen - Papua</option>
                <option value="Way Kanan - Lampung">Way Kanan - Lampung</option>
                <option value="Wonogiri - Jawa Tengah">Wonogiri - Jawa Tengah</option>
                <option value="Wonosobo - Jawa Tengah">Wonosobo - Jawa Tengah</option>
                <option value="Yahukimo - Papua">Yahukimo - Papua</option>
                <option value="Yalimo - Papua">Yalimo - Papua</option>
                <option value="Yogyakarta (Kota) - D.I Yogyakarta">Yogyakarta (Kota) - D.I Yogyakarta</option>
              </select>
</div>

<div class="row marketing">
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> created by dittonara</p>
</div>
